{
  "requestTime": "$context.requestTime",
  "requestTimeEpoch": $context.requestTimeEpoch,
  "requestId": "$context.requestId",
  "extendedRequestId": "$context.extendedRequestId",
  "awsEndpointRequestId": "$context.awsEndpointRequestId",
  "apiId": "$context.apiId",
  "resourcePath": "$context.resourcePath",
  "resourceId": "$context.resourceId",
  "stage": "$context.stage",
  "deploymentId": "$context.deploymentId"
}

