#set($idempotency_key = $input.params().header['X-Idempotency-Key'])
#set($stringified_request_body = $util.escapeJavaScript($input.json('$')))

#if($input.containsKey("metadata") && $input.path('$.metadata').length() != 0 && $input.path('$.metadata').containsKey("order_id"))
    #set($name = $input.path('$.metadata.order_id') + "-" + $context.requestTimeEpoch)
{
"stateMachineArn": "arn:aws:states:eu-west-1:123456789012:stateMachine:MyStateMachine",
"name": "$name",
"input": "{\"idempotency_key\": \"$idempotency_key\", \"request_body\": $stringified_request_body }"
}
#elseif($input.containsKey("payment_method") && $input.path('$.payment_method').length() != 0
&& $input.path('$.payment_method')[0].containsKey("payout_link") && $input.path('$.payment_method')[0].payout_link.containsKey("id"))
    #set($name = $input.path('$.payment_method[0].payout_link.id') + "-" + $context.requestTimeEpoch)
{
"stateMachineArn": "arn:aws:states:eu-west-1:123456789012:stateMachine:MyStateMachine",
"name": "$name",
"input": "{\"idempotency_key\": \"$idempotency_key\", \"request_body\": $stringified_request_body }"
}
#else
{
"stateMachineArn": "arn:aws:states:eu-west-1:123456789012:stateMachine:MyStateMachine",
"input": "{\"idempotency_key\": \"$idempotency_key\", \"request_body\": $stringified_request_body }"
}
#end