#set($rootJsonString = $input.json('$'))
#set($rootJson = $util.parseJson($rootJsonString))
{
  "rootJson": $rootJson,
  "rootPath": $input.path('$'),
  "usingParseJson": $rootJson,
  "nameFromJson": "$rootJson.name",
  "nameFromPath": "$input.path('$.name')",
  "ageFromJson": $rootJson.age,
  "ageFromPath": $input.path('$.age')
}

